.gridInput{
  object-fit: contain;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  margin-top:20% !important;
 
  gap: .5rem;
}


.img{
  object-fit: contain ;
  
  border-right: 1px solid black;

  background-repeat: no-repeat;
  width: 100% !important;
 
 
}
.top-content{
  margin-top: 30px;
  margin-right: 25px;
}
.top {

  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover !important;
  width: 100%;
  height:100%;
}
.fill img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.card-insert{
 padding: 20px;
}
.container-son{
  padding: 15px;
}